@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
